<div class="center-element">
  <div class="container-md">
    <form class="form-control">
      <app-user-view></app-user-view>

      <div class="container text-center">
        <div class="row">
          <div class="col d-grid gap-2">
            <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!isAddCurrentAction()">Add</button>
            <!--<ng-template [ngIf]="isAddCurrentAction()" [ngIfElse]="updateUserState">
              
            </ng-template>
            <ng-template #updateUserState>
              <button type="button" class="btn btn-warning" (click)="update()">Update</button>
            </ng-template> -->
          </div>
          <div class="col d-grid gap-2">
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="clear()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="container text-center form-control mt-2">
      <div class="row align-items-center">
        <div
          class="col fw-bold"
          *ngFor="
            let field of ['Username', 'Name', 'Surname', 'Group', 'Actions']
          "
        >
          {{ field }}
        </div>
      </div>
      <div class="row">
        <hr />
      </div>
      <div class="row align-items-center" *ngFor="let user of users; index as i">
        <div class="col">
          {{ user.username }}
        </div>
        <div class="col">
          {{ user.name }}
        </div>
        <div class="col">
          {{ user.surname }}
        </div>
        <div class="col">
          {{ user.group }}
        </div>
        <div class="col flex-row justify-content-between">
          <button type="button" class="btn btn-warning" (click)="updateUser(i)">Update</button>
          <button type="button" class="btn btn-outline-danger" (click)="delete(i)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
