<div class="mb-3 row">
  <label for="username" class="col-sm-2 col-form-label">Username</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Insert here your username"
      [(ngModel)]="user.username"
    />
  </div>
</div>

<div class="mb-3 row">
  <label for="name" class="col-sm-2 col-form-label">Name</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Insert here your name (e.g. John)"
      [(ngModel)]="user.name"
    />
  </div>
</div>

<div class="mb-3 row">
  <label for="surname" class="col-sm-2 col-form-label">Surname</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      id="surname"
      placeholder="Insert here your surname (e.g. Smith)"
      [(ngModel)]="user.surname"
    />
  </div>
</div>

<div class="mb-3 row">
  <label for="group" class="col-sm-2 col-form-label">Group</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      id="group"
      placeholder="Insert here your groups"
      [(ngModel)]="user.group"
    />
  </div>
</div>